.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: rgb(61, 60, 65);
    background: linear-gradient(90deg, rgba(61, 60, 65, 1) 0%, rgba(95, 0, 117, 1) 9%, rgba(130, 0, 148, 1) 24%, rgba(157, 0, 171, 1) 33%, rgba(0, 212, 255, 1) 100%);
}

@keyframes slideIn {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(0);
    }
}


.innerContainer {
    width: calc(400px + 15vw);
    max-width: 700px;
    animation: slideIn ease-in-out 900ms;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin: 20px 0;
}

.card {
    padding: 10px;
    width: 100%;
}


.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-start;
}

.col6{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    width: 50%;
    padding: 10px;
}

.buttonRow{
    display: flex;
    justify-content: flex-end;
    align-items:flex-start;
}



@media screen and (max-width: 680px) {
    .innerContainer {
        min-height: 100vh;
    }
}


@media screen and (max-width: 800px) {
    .innerContainer {
        min-height: 100vh;
    }

    .col6{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        width: 100%;
        padding: 10px;
    }

}




